/* Selectors are sorted by type, and then alphabetical order*/
:root {
  --dark: #000000;
  --dark2: #5C2E7E;
  --light: #4C6793;
  --light2: #8BBCCC;
  --teal: #008080;
  --cyan: #19d3da;
}

/******************TAG SELECTORS******************/
a {
  color: var(--dark2);
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
  text-decoration: underline;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #ebecf1;
  text-align: center;
  min-height: 75rem;
}

h1, h2, h3 {
  color: var(--cyan);
  line-height: 1.5;
  font-family: 'Space Mono', monospace;
}

h4 {
  color: var(--teal);
  font-family: 'Space Mono', monospace;
}

h1, h2, h3, h4 {
  padding-bottom: 1%;
}

section:before {
  height: 3.5em;
  content: "";
  display: block;
}

/******************ClASS SELECTORS******************/
.buttons {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.buttons button {
  min-width: 5%;
  margin: 0.5%;
}

.card {
  width: 18rem;
  background-color: var(--dark2);
  margin: 4% 0 4%;
  align-self: center;
}

.card-header {
  background-color: var(--dark);
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-inner {
  margin-bottom: 50px;
}

.carousel .carousel-item {
  height: 450px;
}

.carousel-item img {
  
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 300px;
}

#title .container-fluid {
  padding: 15% 15% 15%;
  height: calc(100vh - 3.5em);
  max-height: 600px;
}

#id .container-fluid p {
  padding: 7% 15% 5%;
}

.col {
  padding: 12px;
}

.copyright {
  font-size: 0.75rem;
  padding: 20px 0;
  margin-bottom: 0;
}

.cursor {
  display: inline-block;
  width: 3px;
  margin-left: 4px;
  background: var(--cyan);
}

.cursor.blink {
  animation: blink 0.8s ease-in-out infinite;
}


.github-link {
  color: var(--cyan);
}

.interest-desc {
  line-height: 1.5rem;
}

.interests {
  padding-top: 3%;
}

.interest-img {
  width: 40%;
  margin: 5%;
  align-self: center;
}

.interest-img:hover {
  transform: scale(1.15);
}

/* Navigation Bar */

.navbar {
  height: 3.5em;
}

.navbar-brand, .nav-link {
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.project-image {
  width: 60%;
}

.profpic {
  margin: 3% 0;
  width: 15%;
}

/******************ID SELECTORS******************/
#title {
  background-image: -webkit-linear-gradient(var(--dark), var(--dark2));
}

#projects {
  padding: 3% 0;
  background-image: -webkit-linear-gradient(var(--dark2), var(--light));
}

#about-me {
  padding: 2% 0 3% 0;
  background-image: -webkit-linear-gradient(var(--light), var(--light2));
}

#footer {
  background-color: var(--light2);
  padding: 20px 0 0;
}


/****************** KEYFRAMES ******************/
@keyframes blink {

  0%,
  100% {
    background: var(--teal);
  }

  40%,
  50% {
    background: transparent;
  }
}